<!--
  Generated template for the VentasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ventas</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <p>Ticket de Venta</p>
  <table style="width:80%">
    <tr border= "3px solid red">
      <th >Cantidad</th>
      <th>Articulo</th>
      <th>Precio</th>
      <th>Descuento</th>
      <th>Importe</th>
    </tr>
    <tr *ngFor="let art of detalleticket ">
      <td class="detalletexto">{{art.cantidadart}}</td>
      <td class="detalletexto">{{art.nombreart}}</td>
      <td class="detalletexto">{{art.precioart}}</td>
      <td class="detalletexto">{{art.descuentoart}}</td>
      <td class="detalletexto">{{art.importeart}}</td>
    </tr>
  </table> 
  <div *ngIf="(detalleticket != undefined)">
      <p>Total del ticket = $ {{encticket.total}}</p>
    </div>
  <ion-list inset>
    <ion-item *ngFor="let producto of productos">

<button ion-button round outline (click) = "agregaproducto(producto._id)" >{{producto.nombre}}</button>
<button ion-button color="danger" round outline  (click) = "borrarproducto(producto._id,producto._rev)" ><ion-icon name="trash"></ion-icon> Borrar </button>
      <p>{{producto.descripcion}}</p>
    </ion-item>
  </ion-list>
</ion-content>
