
<ion-header>
  <ion-navbar>
    <ion-title>Ventas - ZMPapelerias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding="">
    <h2>
        Realizar Venta
    </h2>
    <ion-grid>
          <ion-card>
            <ion-card-header>
                <ion-buttons>
                    Lista de venta
                </ion-buttons>
            </ion-card-header>
            <ion-card-content>
                <ion-row>
                    <ion-col>Cant.</ion-col>
                    <ion-col>Articulo</ion-col>
                    <ion-col>Precio</ion-col>
                    <ion-col>Prec. Sug.</ion-col>
                    <ion-col>Desc.</ion-col>
                </ion-row>
                <ion-row *ngFor="let item of detalleticket; let i= index">
                    <ion-col>{{ item.cantidadart }}</ion-col>
                    <ion-col>{{ item.nombreart }}</ion-col>
                    <ion-col>$ {{ item.precioart }}</ion-col>
                    <ion-col>$ {{ item.descuentoart }}</ion-col>
                    <ion-col>$ {{ item.importeart }}</ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
             <ion-row ng-if="!encticket.total == 0">
            Total del Ticket: $ {{ encticket.total}}
        </ion-row>
          <ion-row>
            <button ion-button round outline (click)="cobrarticket(encticket.folio)">Cobrar</button>
            <button ion-button round outline (click) = "facturarticket(encticket.folio)"> Facturar</button>
            <button ion-button round outline (click) = "cancelarticket(encticket.folio)"> Cancelar</button>
            <button ion-button round outline (click) = "imprimirticket(encticket.folio)"> Imprimir</button>
        </ion-row>
    </ion-grid>

  <ion-list inset>
    <ion-item *ngFor="let producto of productos">
    <button ion-button round outline (click) = "agregaproducto(producto._id)">
      {{producto.nombre}}
    </button>
      <p>{{producto.descripcion}}</p>
    </ion-item>
  </ion-list>
</ion-content>
