<ion-content padding margin>
    <ion-grid>
        <ion-row justify-content-center align-items-center>
            <h1 color="primary">
                Acceso ZMPapelerias
            </h1>
        </ion-row>
        <ion-row justify-content-center align-items-center>
            <form novalidate [formGroup]="loginForm" (ngSubmit)="doLogin( $event )">
                <ion-row justify-content-center align-items-center>
                    <ion-item>
                        <ion-input placeholder="Email" type="text" formControlName="email"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="loginForm.controls.email.errors && loginForm.controls.email.dirty">
                        <p color="danger" *ngIf="loginForm.controls.email.hasError('required')">
                            Este campo es requerido
                        </p>
                        <p color="danger" *ngIf="loginForm.controls.email.hasError('pattern')">
                            Nombre es valido
                        </p>
                    </ion-item>
                </ion-row>

                <ion-row justify-content-center align-items-center>
                    <ion-item>
                        <ion-input placeholder="Contraseña" type="password" formControlName="password"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="loginForm.controls.password.errors && loginForm.controls.password.dirty">
                        <p color="danger" *ngIf="loginForm.controls.password.hasError('required')">
                            Este campo es requerido
                        </p>
                        <p color="danger" *ngIf="loginForm.controls.password.hasError('maxlength')">
                            Máximo N° de caracteres 20
                        </p>
                    </ion-item>
                </ion-row>

                <ion-row justify-content-center align-items-center>
                    <button ion-button color="primary" outline block type="submit" 
                            [disabled]="loginForm.invalid">
                        Ingresar
                    </button>

                </ion-row>
            </form>
        </ion-row>
    </ion-grid>
</ion-content>
