
<ion-header>
  <ion-navbar>
    <ion-title>{{ titlePage }} - {{ titleApp }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <form novalidate [formGroup]="configForm" (submit)="saveConfig()">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label stacked>
                            Catálogo
                        </ion-label>
                        <ion-input  formControlName="name" placeholder="Nombre del catálogo"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="configForm.get('name').errors && configForm.get('name').dirty">
                        <p color="danger" *ngIf="configForm.get('name').hasError('required')">
                            Este campo es requerido
                        </p>
                        <p color="danger" *ngIf="configForm.get('name').hasError('pattern')">
                            Nombre no valido
                        </p>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label stacked>
                            Descripción
                        </ion-label>
                        <ion-textarea formControlName="description" placeholder="Descripción del catálogo"></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-col col-12>
                <button ion-button block 
                        type="submit"
                        [disabled]="configForm.invalid">
                    Guardar
                </button>
            </ion-col>
        </ion-grid>
    </form>
</ion-content>
