
<ion-header>
    <ion-navbar>
        <ion-title>{{ titlePage }} - {{ titleApp }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-10>
                <ion-searchbar (ionInput)="searchClientByString( $event )">
                </ion-searchbar>

                <ion-toolbar>
                    <ion-segment>
                        <ion-segment-button (click)="sort(); orderIs = !orderIs" value="">
                            <ion-icon *ngIf="orderIs" name="arrow-dropup"></ion-icon>
                            <ion-icon *ngIf="!orderIs" name="arrow-dropdown"></ion-icon>
                        </ion-segment-button>
                    </ion-segment>
                </ion-toolbar>
            </ion-col>
            <ion-col col-2>
                <button ion-button  [navPush]="addClientPage"
                        [navParams]="paramsClient">
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-list>
        <ion-item-sliding *ngFor="let item of clients | sort: { 'property': 'name', 'order': order }">
            <ion-item>
                <h2>{{ item.name }}</h2>
                <p>{{ item.rfc }}</p>
            </ion-item>
            <ion-item-options>
                <button ion-button color="primary"
                        (click)="openNavDetailsClient( item )" icon-start>
                    <ion-icon name="create"></ion-icon>
                    Actualizar
                </button>
                <button ion-button color="danger" 
                        (click)="deleteClient( item )" icon-start>
                    <ion-icon name="trash"></ion-icon>
                    Borrar
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite( $event )" *ngIf="page < totalPage">
        <ion-infinite-scroll-content 
            loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-toolbar no-border-bottom>
        <ion-segment>
            <ion-segment-button (click)="doInfinite( );" *ngIf="page < totalPage">
                <ion-icon name="aperture"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-content>
