
<ion-header>
    <ion-navbar>
        <ion-title>Clientes - ZMPapelerias</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-10>
                <!-- <ion-searchbar (ionInput)="searchItems2( $event )"> -->
                <ion-searchbar [(ngModel)]="searching">
                </ion-searchbar>
            </ion-col>
            <ion-col col-2>
                <button ion-button  [navPush]="addClientPage">
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-list>
        <ion-item-sliding *ngFor="let item of clients | search: searching">
            <ion-item>
                <h2>{{ item.nombre }}</h2>
                <p>{{ item.rfc }}</p>
            </ion-item>
            <ion-item-options>
                <button ion-button color="primary"
                        (click)="openNavDetailsClient( item )" icon-start>
                    <ion-icon name="create"></ion-icon>
                    Actualizar
                </button>
                <button ion-button color="danger" 
                        (click)="deleteClient( item )" icon-start>
                    <ion-icon name="trash"></ion-icon>
                    Borrar
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <!-- <ion-list>
        <button ion-item *ngFor="let item of clients | search: searching" 
                (click)="openNavDetailsClient( item )" icon-start>
        
        {{ item.nombre }} <small>{{ item.rfc }}</small>
        </button>
    </ion-list> -->
</ion-content>
