<ion-header>
    <ion-navbar>
        <ion-title>Facturación - ZMPapelerias</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h2>
        Realizar Factura
    </h2>

    <form novalidate [formGroup]="checkinForm" (submit)="makeBill()">
        <ion-grid>
            <!-- <ion-row col-12 col-sm-9 col-md-6 col-lg-4 col-xl-6>
                <ion-item>
                    <ion-label staket>Cliente </ion-label>
                    <ion-select formControlName="client">
                        <ion-option *ngFor="let _client of clients" value="{{ _client._id }}">
                            {{ _client.nombre }}
                        </ion-option>
                    </ion-select>
                </ion-item>
            </ion-row> -->

            <ion-row col-12 col-sm-9 col-md-6 col-lg-6 col-xl-6>
                <ion-col col-10>
                    <ion-item-group margin-bottom>
                        <!-- <ion-item-divider color="light">
                            <h2>Seleccionar</h2>
                        </ion-item-divider> -->
                        <ion-item>
                            <select-searchable
                                title="Cliente"
                                formControlName="client"
                                [items]="clients"
                                itemValueField="_id"
                                itemTextField="nombre"
                                [canSearch]="true"
                                (onChange)="clientChange( $event )">
                            </select-searchable>
                        </ion-item>
                    </ion-item-group>
                </ion-col>
                <ion-col col-2>
                    <button ion-button [navPush]="addClientPage"
                            [navParams]="paramsClient">
                        <ion-icon name="add"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>

            <!-- <ion-item col-12 col-sm-9 col-md-6 col-lg-6 col-xl-6>
                <ion-label staket>Tickets </ion-label>
                <ion-select  formControlName="tickets" multiple="true">
                    <ion-option *ngFor="let _ticket of tickets" value="{{_ticket._id}}">
                            {{ _ticket['NoIdentificacion'] }}
                    </ion-option>
                </ion-select>
            </ion-item> -->

            <ion-row col-12 col-sm-9 col-md-6 col-lg-6 col-xl-6>
                <ion-item-group margin-bottom>
                    <ion-item>
                        <select-searchable
                            title="Tickets"
                            formControlName="tickets"
                            [items]="tickets"
                            itemValueField="_id"
                            itemTextField="NoIdentificacion"
                            [canSearch]="true"
                            multiple="true"
                            (onChange)="clientChange( $event )">
                        </select-searchable>
                    </ion-item>
                </ion-item-group>
            </ion-row>

            <ion-row col-12 col-sm-9 col-md-6 col-lg-6 col-xl-6>
                <button ion-button block 
                        type="submit"
                        [disabled]="checkinForm.invalid">
                    Facturar
                </button>
            </ion-row>
        </ion-grid>
    </form>

</ion-content>
